<% if user_signed_in? %>
  <% if current_user.superadmin? %>
    <li>
    <%= link_to('Edit Site', edit_admin_site_path(site.id)) %>
    </li>
  <% end %>
  <% if messageboard && current_user.admins?(messageboard) %>
    <li>
    <%= link_to('Edit Board', edit_admin_site_messageboard_path(site.id, messageboard.id)) %>        
    </li>
  <% end %>
<% end %>
