.env
tags
public/uploads
log/*
.DS_Store
.rvmrc
.sass-cache
*.swp
config/mongoid.yml
config/thredded_config.yml
.bundle
db/*.sqlite3
tmp/**/*
tmp/*
db/sphinx/*
public/uploads/tmp/*
bin
latest.dump
custom_plan.rb
zeus.json
