<li class="search_form">
<%= form_tag(messageboard_topics_path(messageboard), :method => "get") do %>
  <%= text_field_tag(:q, params[:q], {:placeholder => "Search Terms"}) %>
  <%= submit_tag("Search", :name => "") %>
<% end %>
</li>
