@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 11, sass/partials/_boilerplate.scss */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header, hgroup,
menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 21, sass/partials/_boilerplate.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 23, sass/partials/_boilerplate.scss */
body {
  font-family: "Lucida Grande", "Trebuchet MS", Arial, Helvetica, sans-serif;
}

/* line 25, sass/partials/_boilerplate.scss */
nav ul {
  list-style: none;
}

/* line 26, sass/partials/_boilerplate.scss */
blockquote, q {
  quotes: none;
}

/* line 27, sass/partials/_boilerplate.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* line 28, sass/partials/_boilerplate.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: #24B;
}

/* line 29, sass/partials/_boilerplate.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 30, sass/partials/_boilerplate.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 31, sass/partials/_boilerplate.scss */
del {
  text-decoration: line-through;
}

/* line 32, sass/partials/_boilerplate.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 33, sass/partials/_boilerplate.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 34, sass/partials/_boilerplate.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 35, sass/partials/_boilerplate.scss */
input, select {
  vertical-align: middle;
}

/* line 37, sass/partials/_boilerplate.scss */
select, input, textarea, button {
  font: 99% sans-serif;
}

/* line 40, sass/partials/_boilerplate.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* line 41, sass/partials/_boilerplate.scss */
html {
  overflow-y: scroll;
}

/* line 42, sass/partials/_boilerplate.scss */
ul, ol {
  margin-left: 1.8em;
}

/* line 43, sass/partials/_boilerplate.scss */
ol {
  list-style-type: decimal;
}

/* line 45, sass/partials/_boilerplate.scss */
nav ul, nav li {
  margin: 0;
}

/* line 46, sass/partials/_boilerplate.scss */
small {
  font-size: 85%;
}

/* line 47, sass/partials/_boilerplate.scss */
strong, th {
  font-weight: bold;
}

/* line 48, sass/partials/_boilerplate.scss */
td, td img {
  vertical-align: top;
}

/* line 49, sass/partials/_boilerplate.scss */
sub {
  vertical-align: sub;
  font-size: smaller;
}

/* line 50, sass/partials/_boilerplate.scss */
sup {
  vertical-align: super;
  font-size: smaller;
}

/* line 51, sass/partials/_boilerplate.scss */
pre {
  padding: 15px;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

/* line 52, sass/partials/_boilerplate.scss */
textarea {
  overflow: auto;
}

/* line 53, sass/partials/_boilerplate.scss */
.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

/* line 54, sass/partials/_boilerplate.scss */
input[type="radio"] {
  vertical-align: text-bottom;
}

/* line 55, sass/partials/_boilerplate.scss */
input[type="checkbox"] {
  vertical-align: bottom;
}

/* line 56, sass/partials/_boilerplate.scss */
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 57, sass/partials/_boilerplate.scss */
.ie6 input {
  vertical-align: text-bottom;
}

/* line 58, sass/partials/_boilerplate.scss */
label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

/* line 59, sass/partials/_boilerplate.scss */
button, input, select, textarea {
  margin: 0;
}

/* line 61, sass/partials/_boilerplate.scss */
input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red;
}

/* line 63, sass/partials/_boilerplate.scss */
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

/* line 67, sass/partials/_boilerplate.scss */
button {
  width: auto;
  overflow: visible;
}

/* line 68, sass/partials/_boilerplate.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* line 70, sass/partials/_boilerplate.scss */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

/* line 71, sass/partials/_boilerplate.scss */
.hidden {
  display: none;
  visibility: hidden;
}

/* line 72, sass/partials/_boilerplate.scss */
.visuallyhidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

/* line 73, sass/partials/_boilerplate.scss */
.invisible {
  visibility: hidden;
}

/* line 74, sass/partials/_boilerplate.scss */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}

/* line 75, sass/partials/_boilerplate.scss */
.clearfix:after {
  clear: both;
}

/* line 76, sass/partials/_boilerplate.scss */
.clearfix {
  zoom: 1;
}

/* line 1, sass/partials/_layout.scss */
body {
  background: #bbb;
}

/* line 5, sass/partials/_layout.scss */
section#contentwrap {
  margin: 40px 2.5%;
  width: 95%;
}
/* line 9, sass/partials/_layout.scss */
section#contentwrap section#content {
  overflow: hidden;
  width: 68%;
  padding: 2% 2% 5% 2%;
  background: #fff;
  border-right: solid 4px #888;
  border-bottom: solid 4px #888;
}
/* line 18, sass/partials/_layout.scss */
section#contentwrap section#content header h1 {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 6px;
}
/* line 19, sass/partials/_layout.scss */
section#contentwrap section#content header h2 {
  margin-bottom: 20px;
  font-weight: normal;
  color: #888;
  font-size: 12px;
}
/* line 20, sass/partials/_layout.scss */
section#contentwrap section#content header nav {
  overflow: hidden;
  margin-bottom: 16px;
  padding: 4px;
  background: #f9f9f9;
  font-size: 11px;
  color: #999;
}
/* line 21, sass/partials/_layout.scss */
section#contentwrap section#content header nav ul li {
  float: left;
  margin-right: 10px;
}

/* line 1, sass/partials/_header.scss */
#contentwrap header[role="banner"] {
  float: right;
  width: 25%;
}
/* line 7, sass/partials/_header.scss */
#contentwrap header[role="banner"] h1 {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
}
/* line 8, sass/partials/_header.scss */
#contentwrap header[role="banner"] h2 {
  font-size: 12px;
  font-weight: normal;
  text-transform: lowercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

/* line 2, sass/partials/_categories.scss */
section#contentwrap #categories > header {
  overflow: hidden;
}
/* line 5, sass/partials/_categories.scss */
section#contentwrap #categories > header > div {
  background: #333;
  border: none;
  color: #fff;
  font-size: 11px;
  float: left;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
/* line 15, sass/partials/_categories.scss */
section#contentwrap #categories > header > div.category {
  width: 69%;
  padding-left: 1%;
  border-bottom: solid 1px #000;
}
/* line 16, sass/partials/_categories.scss */
section#contentwrap #categories > header > div.last_post {
  width: 30%;
  border-bottom: solid 1px #000;
}
/* line 19, sass/partials/_categories.scss */
section#contentwrap #categories > .category {
  background: transparent url(../images/comment.gif) 16px 11px no-repeat;
  border: solid 1px #ddd;
  border-top: none;
  clear: both;
  display: block;
  padding: 1% 1% 1% 5%;
  position: relative;
}
/* line 28, sass/partials/_categories.scss */
section#contentwrap #categories > .category header {
  font-size: 12px;
}
/* line 31, sass/partials/_categories.scss */
section#contentwrap #categories > .category header h2 {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 4px;
}
/* line 32, sass/partials/_categories.scss */
section#contentwrap #categories > .category header h2 a {
  text-decoration: none;
  font-weight: bold;
}
/* line 33, sass/partials/_categories.scss */
section#contentwrap #categories > .category header h2 a:hover {
  text-decoration: underline;
}
/* line 36, sass/partials/_categories.scss */
section#contentwrap #categories > .category p {
  font-size: 12px;
  margin-top: 6px;
}
/* line 38, sass/partials/_categories.scss */
section#contentwrap #categories > .category footer {
  position: absolute;
  right: 0px;
  bottom: 0px;
  left: 70%;
  top: 0px;
  width: 26%;
  padding: 2%;
  background: #eee;
}
/* line 48, sass/partials/_categories.scss */
section#contentwrap #categories > .category footer a {
  color: #333;
  font-size: 12px;
  text-decoration: none;
}
/* line 54, sass/partials/_categories.scss */
section#contentwrap #categories > .category footer cite {
  display: block;
  clear: both;
}

/* line 61, sass/partials/_categories.scss */
#category_listing #content > footer {
  border: solid 1px #ddd;
  border-top: none;
  padding: 1%;
}
/* line 66, sass/partials/_categories.scss */
#category_listing #content > footer a {
  font-weight: bold;
  text-decoration: none;
}
/* line 67, sass/partials/_categories.scss */
#category_listing #content > footer a:hover {
  text-decoration: underline;
}

/* line 7, sass/partials/_topics.scss */
#topics_listing #contentwrap section#content .title,
#topics_listing #contentwrap section#content .started,
#topics_listing #contentwrap section#content .updated,
#topics_listing #contentwrap section#content .posts {
  background: #444;
  color: #fff;
  float: left;
  display: block;
  width: 15.5%;
  line-height: 24px;
  overflow: hidden;
  font-size: 11px;
}
/* line 8, sass/partials/_topics.scss */
#topics_listing #contentwrap section#content .title {
  width: 52.5%;
  padding-left: 1%;
}
/* line 10, sass/partials/_topics.scss */
#topics_listing #contentwrap section#content article {
  clear: both;
  position: relative;
  height: 40px;
  padding: 10px 0;
}
/* line 16, sass/partials/_topics.scss */
#topics_listing #contentwrap section#content article:nth-child(2n+1) {
  background-color: #F9F9F9;
}
/* line 17, sass/partials/_topics.scss */
#topics_listing #contentwrap section#content article.private {
  background-color: #fcfcd7;
  border-bottom: solid 2px #aaab72;
}
/* line 19, sass/partials/_topics.scss */
#topics_listing #contentwrap section#content article h1 {
  background: url("../images/thread_sprite.gif") no-repeat scroll 10px -90px transparent;
  width: 44%;
  padding-left: 4%;
}
/* line 23, sass/partials/_topics.scss */
#topics_listing #contentwrap section#content article h1 a {
  font-weight: normal;
  font-size: 14px;
}
/* line 29, sass/partials/_topics.scss */
#topics_listing #contentwrap section#content article.sticky h1 {
  background-position: 10px -28px;
}
/* line 30, sass/partials/_topics.scss */
#topics_listing #contentwrap section#content article.locked h1 {
  background-position: 10px -59px;
}
/* line 31, sass/partials/_topics.scss */
#topics_listing #contentwrap section#content article.sticky.locked h1 {
  background-position: 10px 3px;
  padding-left: 6%;
}
/* line 33, sass/partials/_topics.scss */
#topics_listing #contentwrap section#content article cite, #topics_listing #contentwrap section#content article time, #topics_listing #contentwrap section#content article abbr {
  position: absolute;
  left: 53.5%;
  top: 10px;
}
/* line 38, sass/partials/_topics.scss */
#topics_listing #contentwrap section#content article cite a, #topics_listing #contentwrap section#content article time a, #topics_listing #contentwrap section#content article abbr a {
  font-size: 12px;
}
/* line 39, sass/partials/_topics.scss */
#topics_listing #contentwrap section#content article cite.updated_by, #topics_listing #contentwrap section#content article cite.updated_at, #topics_listing #contentwrap section#content article time.updated_by, #topics_listing #contentwrap section#content article time.updated_at, #topics_listing #contentwrap section#content article abbr.updated_by, #topics_listing #contentwrap section#content article abbr.updated_at {
  left: 69%;
}
/* line 41, sass/partials/_topics.scss */
#topics_listing #contentwrap section#content article time, #topics_listing #contentwrap section#content article abbr {
  font-size: 10px;
  top: 31px;
  width: 13%;
  border: none;
}
/* line 48, sass/partials/_topics.scss */
#topics_listing #contentwrap section#content article .post_count {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 20px;
  left: 84.5%;
  position: absolute;
  top: 15px;
  width: 30px;
  text-align: center;
}
/* line 60, sass/partials/_topics.scss */
#topics_listing #contentwrap section#content footer a {
  font-size: 12px;
  color: #CC0000;
}

/* line 3, sass/partials/_posts.scss */
#topics_posts #content article {
  padding: 15px 0 0;
  margin-bottom: 10px;
  border-top: solid 2px #eee;
  clear: both;
  overflow: hidden;
}
/* line 10, sass/partials/_posts.scss */
#topics_posts #content article:last {
  border: none;
}
/* line 14, sass/partials/_posts.scss */
#topics_posts #content article header {
  float: left;
  text-align: left;
  background: #eee;
  padding: 10px;
  overflow: hidden;
  margin-right: 15px;
  margin-top: -15px;
  width: 120px;
}
/* line 24, sass/partials/_posts.scss */
#topics_posts #content article header a {
  color: #999;
  text-decoration: none;
  margin-bottom: 10px;
  display: block;
}
/* line 30, sass/partials/_posts.scss */
#topics_posts #content article header a img {
  display: block;
  width: 48px;
  height: auto;
  border: solid 4px #fff;
  margin-bottom: 5px;
  margin-left: -4px;
}
/* line 42, sass/partials/_posts.scss */
#topics_posts #content article header abbr {
  display: block;
  clear: both;
  font-size: 11px;
  margin-bottom: 10px;
  border: none;
}

/* line 2, sass/partials/_new_topic.scss */
#topics_new label {
  display: block;
  clear: both;
  font-size: 12px;
  text-transform: lowercase;
  margin: 10px 0 4px 0;
  color: #888;
  font-size: 12px;
}
/* line 3, sass/partials/_new_topic.scss */
#topics_new label[for="topic_title"] {
  display: none;
}
/* line 5, sass/partials/_new_topic.scss */
#topics_new textarea {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  border: solid 1px #999;
  font-size: 18px;
  line-height: 26px;
  padding: 6px;
  width: 98%;
  color: #333;
}
/* line 15, sass/partials/_new_topic.scss */
#topics_new p.title input {
  border: solid 1px #999;
  color: #333;
  font-size: 26px;
  line-height: 24px;
  padding: 10px 6px 6px;
  width: 98%;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
/* line 25, sass/partials/_new_topic.scss */
#topics_new p.submit input {
  border: solid 1px #999;
  font-size: 14px;
  font-weight: bold;
  margin: 15px 0 0;
  line-height: 18px;
  padding: 5px 6px 3px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #bfbfbf));
  background-image: -moz-linear-gradient(top, #ffffff, #bfbfbf);
  background-image: linear-gradient(top, #ffffff, #bfbfbf);
}
/* line 38, sass/partials/_new_topic.scss */
#topics_new #drawer #attributes {
  display: none;
  margin-top: -2px;
  padding: 9px 7px 7px 7px;
  width: 98%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bfbfbf), color-stop(100%, #999999));
  background-image: -moz-linear-gradient(top, #bfbfbf, #999999);
  background-image: linear-gradient(top, #bfbfbf, #999999);
}
/* line 45, sass/partials/_new_topic.scss */
#topics_new #drawer #attributes p {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: dotted 1px #c0c0c0;
}
/* line 46, sass/partials/_new_topic.scss */
#topics_new #drawer #attributes p:last-child {
  padding-bottom: 0px;
  margin-bottom: 0px;
  border: none;
}
/* line 48, sass/partials/_new_topic.scss */
#topics_new #drawer #attributes label {
  margin: 0;
  display: block;
  float: left;
  width: 18%;
  line-height: 24px;
  color: #fff;
  text-shadow: #111111, 1px 1px 1px;
}
/* line 57, sass/partials/_new_topic.scss */
#topics_new #drawer #attributes label span {
  font-size: 10px;
}
/* line 60, sass/partials/_new_topic.scss */
#topics_new #drawer #attributes input {
  width: 81%;
}
/* line 65, sass/partials/_new_topic.scss */
#topics_new #drawer .handle a {
  background: #999;
  font-size: 11px;
  margin-left: 10px;
  padding: 1px 10px 5px;
  display: block;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -o-border-bottom-left-radius: 3px;
  -ms-border-bottom-left-radius: 3px;
  -khtml-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -o-border-bottom-right-radius: 3px;
  -ms-border-bottom-right-radius: 3px;
  -khtml-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  width: 28px;
  color: #fff;
  text-decoration: none;
  outline: none;
  text-shadow: #111111 1px 1px 1px;
}
