<li class="title">
  <%= f.label :title %>
  <%= f.text_field :title, {
    placeholder: 'Title',
    tabindex: 1,
    autofocus: 'autofocus'
  } %>
</li>

<%= render 'topic_form', f: f, messageboard: messageboard %>
