/* ................................................................................ */
/* ............................................................ http://thredded.com */
/* .............................................. http://github.com/jayroh/thredded */
/* ...................................................... http://twitter.com/jayroh */
/* ................................................................................ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ----------- Clearfix --------------- */
.clearfix {
  *display: inline-block; }
  .clearfix:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

/* ----------- Clearfix as mixin --------------- */
body {
  text-align: center;
  background: #ffffcc;
  color: #333333;
  font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif; }
  body a {
    color: maroon;
    text-decoration: none; }
    body a:hover {
      text-decoration: underline; }
  body h1 {
    color: #8b1a1a;
    text-shadow: 1px 1px 0px #fff;
    font-family: "Yanone Kaffeesatz", arial, serif;
    font-size: 38px;
    line-height: 44px;
    margin-bottom: 12px;
    margin-left: 12px; }
  body form label {
    font-size: 11px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 12px 0 12px 6px; }
  body form input[type="text"], body form input[type="password"] {
    border: solid 1px #ffffcc;
    border-radius: "5px";
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 2px 2px 1px #AAA;
    -webkit-box-shadow: 2px 2px 1px #AAA;
    -moz-box-shadow: 2px 2px 1px #AAA;
    background: #ffffcc;
    padding: 12px;
    font-size: 24px; }

body > section, body > footer {
  text-align: left;
  margin: 0 auto;
  width: 800px;
  display: block; }

body > header {
  text-align: left;
  width: 100%; }
  body > header nav {
    line-height: 38px;
    padding: 0 10px;
    background-image: -moz-linear-gradient(top, #6B4226, #5E2605);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #6B4226),color-stop(1, #5E2605));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=’#6B4226’, EndColorStr=’#5E2605’)";
    *filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=’#6B4226’, EndColorStr=’#5E2605’);
    text-shadow: 1px 1px 0px #000000; }
    body > header nav ul li {
      display: inline-block;
      padding: 0 10px; }
      body > header nav ul li a {
        color: white;
        font-family: "Yanone Kaffeesatz", arial, serif;
        text-transform: uppercase;
        font-size: 22px; }
        body > header nav ul li a:hover {
          text-decoration: none; }

body > footer p {
  font-size: 10px; }

form.login {
  background: white;
  border: solid 1px #cdaf95;
  border-radius: "5px";
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 12px; }
