/* ................................................................................ */
/* ............................................................ http://thredded.com */
/* .............................................. http://github.com/jayroh/thredded */
/* ...................................................... http://twitter.com/jayroh */
/* ................................................................................ */
/* */
/* */
/* ----------- Clearfix --------------- */
.clearfix {
  *display: inline-block; }
  .clearfix:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

/* ----------- Clearfix as mixin --------------- */
