@charset "UTF-8";
/* line 14, ../../../../../Developer/.rvm/gems/ree-1.8.7-2010.02@thredded3/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../Developer/.rvm/gems/ree-1.8.7-2010.02@thredded3/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../Developer/.rvm/gems/ree-1.8.7-2010.02@thredded3/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../Developer/.rvm/gems/ree-1.8.7-2010.02@thredded3/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../Developer/.rvm/gems/ree-1.8.7-2010.02@thredded3/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../Developer/.rvm/gems/ree-1.8.7-2010.02@thredded3/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../Developer/.rvm/gems/ree-1.8.7-2010.02@thredded3/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../Developer/.rvm/gems/ree-1.8.7-2010.02@thredded3/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 5, sass/nav_bar.sass */
#site_wide {
  width: 100%;
  height: 48px;
}
/* line 8, sass/nav_bar.sass */
#site_wide ul {
  height: 24px;
  padding: 12px 0 12px 10px;
  margin: 0;
  overflow: hidden;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #393939), color-stop(100%, #1a1a1a));
  background-image: -moz-linear-gradient(top, #393939 0%, #1a1a1a 100%);
  background-image: linear-gradient(top, #393939 0%, #1a1a1a 100%);
}
/* line 14, sass/nav_bar.sass */
#site_wide ul li {
  display: inline-block;
  font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
}
/* line 17, sass/nav_bar.sass */
#site_wide ul li a {
  font-size: 11px;
  background-color: #535353;
  color: white;
  display: block;
  padding: 6px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
  text-shadow: black 1px 1px 0;
}
