/*
Syntax error: Undefined mixin 'text-shadow'.
        on line 17 of sass/partials/_base.sass, in `text-shadow'
        from line 17 of sass/partials/_base.sass
        from line 13 of /Users/joel/Sites/thredded3/docs/public/stylesheets/sass/screen.sass

12: @import partials/clearfix.sass
13: @import partials/base.sass
14: @import partials/layout.sass
15: @import partials/header.sass
16: @import partials/footer.sass
17: @import partials/users.sass
18: @import partials/thredded_common.sass
19: @import partials/topics_index.sass

Backtrace:
sass/partials/_base.sass:17:in `text-shadow'
sass/partials/_base.sass:17
/Users/joel/Sites/thredded3/docs/public/stylesheets/sass/screen.sass:13
/Users/joel/Developer/.rvm/gems/ruby-1.8.7-p248/gems/haml-3.0.24/bin/../lib/sass/tree/mixin_node.rb:74:in `perform!'
/Users/joel/Developer/.rvm/gems/ruby-1.8.7-p248/gems/haml-3.0.24/bin/../lib/sass/tree/node.rb:305:in `_perform'
/Users/joel/Developer/.rvm/gems/ruby-1.8.7-p248/gems/haml-3.0.24/bin/../lib/sass/tree/node.rb:213:in `perform'
/Users/joel/Developer/.rvm/gems/ruby-1.8.7-p248/gems/haml-3.0.24/bin/../lib/sass/tree/node.rb:326:in `perform_children'
/Users/joel/Developer/.rvm/gems/ruby-1.8.7-p248/gems/haml-3.0.24/bin/../lib/sass/tree/node.rb:326:in `map'
/Users/joel/Developer/.rvm/gems/ruby-1.8.7-p248/gems/haml-3.0.24/bin/../lib/sass/tree/node.rb:326:in `perform_children'
/Users/joel/Developer/.rvm/gems/ruby-1.8.7-p248/gems/haml-3.0.24/bin/../lib/sass/tree/node.rb:317:in `perform!'
/Users/joel/Developer/.rvm/gems/ruby-1.8.7-p248/gems/haml-3.0.24/bin/../lib/sass/tree/rule_node.rb:191:in `perform!'
/Users/joel/Developer/.rvm/gems/ruby-1.8.7-p248/gems/haml-3.0.24/bin/../lib/sass/tree/node.rb:305:in `_perform'
/Users/joel/Developer/.rvm/gems/ruby-1.8.7-p248/gems/haml-3.0.24/bin/../lib/sass/tree/node.rb:213:in `perform'
/Users/joel/Developer/.rvm/gems/ruby-1.8.7-p248/gems/haml-3.0.24/bin/../lib/sass/tree/node.rb:326:in `perform_children'
/Users/joel/Developer/.rvm/gems/ruby-1.8.7-p248/gems/haml-3.0.24/bin/../lib/sass/tree/node.rb:326:in `map'
/Users/joel/Developer/.rvm/gems/ruby-1.8.7-p248/gems/haml-3.0.24/bin/../lib/sass/tree/node.rb:326:in `perform_children'
/Users/joel/Developer/.rvm/gems/ruby-1.8.7-p248/gems/haml-3.0.24/bin/../lib/sass/tree/node.rb:317:in `perform!'
/Users/joel/Developer/.rvm/gems/ruby-1.8.7-p248/gems/haml-3.0.24/bin/../lib/sass/tree/rule_node.rb:191:in `perform!'
/Users/joel/Developer/.rvm/gems/ruby-1.8.7-p248/gems/haml-3.0.24/bin/../lib/sass/tree/node.rb:305:in `_perform'
/Users/joel/Developer/.rvm/gems/ruby-1.8.7-p248/gems/haml-3.0.24/bin/../lib/sass/tree/node.rb:213:in `perform'
/Users/joel/Developer/.rvm/gems/ruby-1.8.7-p248/gems/haml-3.0.24/bin/../lib/sass/tree/node.rb:326:in `perform_children'
/Users/joel/Developer/.rvm/gems/ruby-1.8.7-p248/gems/haml-3.0.24/bin/../lib/sass/tree/node.rb:326:in `map'
/Users/joel/Developer/.rvm/gems/ruby-1.8.7-p248/gems/haml-3.0.24/bin/../lib/sass/tree/node.rb:326:in `perform_children'
/Users/joel/Developer/.rvm/gems/ruby-1.8.7-p248/gems/haml-3.0.24/bin/../lib/sass/tree/import_node.rb:78:in `perform!'
/Users/joel/Developer/.rvm/gems/ruby-1.8.7-p248/gems/haml-3.0.24/bin/../lib/sass/tree/node.rb:305:in `_perform'
/Users/joel/Developer/.rvm/gems/ruby-1.8.7-p248/gems/haml-3.0.24/bin/../lib/sass/tree/import_node.rb:64:in `_perform'
/Users/joel/Developer/.rvm/gems/ruby-1.8.7-p248/gems/haml-3.0.24/bin/../lib/sass/tree/node.rb:213:in `perform'
/Users/joel/Developer/.rvm/gems/ruby-1.8.7-p248/gems/haml-3.0.24/bin/../lib/sass/tree/root_node.rb:37:in `perform'
/Users/joel/Developer/.rvm/gems/ruby-1.8.7-p248/gems/haml-3.0.24/bin/../lib/sass/tree/node.rb:326:in `perform_children'
/Users/joel/Developer/.rvm/gems/ruby-1.8.7-p248/gems/haml-3.0.24/bin/../lib/sass/tree/node.rb:326:in `map'
/Users/joel/Developer/.rvm/gems/ruby-1.8.7-p248/gems/haml-3.0.24/bin/../lib/sass/tree/node.rb:326:in `perform_children'
/Users/joel/Developer/.rvm/gems/ruby-1.8.7-p248/gems/haml-3.0.24/bin/../lib/sass/tree/node.rb:317:in `perform!'
/Users/joel/Developer/.rvm/gems/ruby-1.8.7-p248/gems/haml-3.0.24/bin/../lib/sass/tree/root_node.rb:59:in `perform!'
/Users/joel/Developer/.rvm/gems/ruby-1.8.7-p248/gems/haml-3.0.24/bin/../lib/sass/tree/node.rb:305:in `_perform'
/Users/joel/Developer/.rvm/gems/ruby-1.8.7-p248/gems/haml-3.0.24/bin/../lib/sass/tree/node.rb:213:in `perform'
/Users/joel/Developer/.rvm/gems/ruby-1.8.7-p248/gems/haml-3.0.24/bin/../lib/sass/tree/root_node.rb:37:in `perform'
/Users/joel/Developer/.rvm/gems/ruby-1.8.7-p248/gems/haml-3.0.24/bin/../lib/sass/tree/root_node.rb:29:in `render'
/Users/joel/Developer/.rvm/gems/ruby-1.8.7-p248/gems/haml-3.0.24/bin/../lib/sass/plugin.rb:220:in `update_stylesheet'
/Users/joel/Developer/.rvm/gems/ruby-1.8.7-p248/gems/haml-3.0.24/bin/../lib/sass/plugin.rb:85:in `update_stylesheets'
/Users/joel/Developer/.rvm/gems/ruby-1.8.7-p248/gems/haml-3.0.24/bin/../lib/sass/plugin.rb:78:in `each'
/Users/joel/Developer/.rvm/gems/ruby-1.8.7-p248/gems/haml-3.0.24/bin/../lib/sass/plugin.rb:78:in `update_stylesheets'
/Users/joel/Developer/.rvm/gems/ruby-1.8.7-p248/gems/haml-3.0.24/bin/../lib/sass/plugin.rb:76:in `each'
/Users/joel/Developer/.rvm/gems/ruby-1.8.7-p248/gems/haml-3.0.24/bin/../lib/sass/plugin.rb:76:in `update_stylesheets'
/Users/joel/Developer/.rvm/gems/ruby-1.8.7-p248/gems/haml-3.0.24/bin/../lib/sass/plugin.rb:171
/Users/joel/Developer/.rvm/gems/ruby-1.8.7-p248/gems/haml-3.0.24/vendor/fssm/lib/fssm/path.rb:71:in `call'
/Users/joel/Developer/.rvm/gems/ruby-1.8.7-p248/gems/haml-3.0.24/vendor/fssm/lib/fssm/path.rb:71:in `run_callback'
/Users/joel/Developer/.rvm/gems/ruby-1.8.7-p248/gems/haml-3.0.24/vendor/fssm/lib/fssm/path.rb:54:in `callback_action'
/Users/joel/Developer/.rvm/gems/ruby-1.8.7-p248/gems/haml-3.0.24/vendor/fssm/lib/fssm/path.rb:34:in `update'
/Users/joel/Developer/.rvm/gems/ruby-1.8.7-p248/gems/haml-3.0.24/vendor/fssm/lib/fssm/state/directory.rb:32:in `modified'
/Users/joel/Developer/.rvm/gems/ruby-1.8.7-p248/gems/haml-3.0.24/vendor/fssm/lib/fssm/state/directory.rb:31:in `each'
/Users/joel/Developer/.rvm/gems/ruby-1.8.7-p248/gems/haml-3.0.24/vendor/fssm/lib/fssm/state/directory.rb:31:in `modified'
/Users/joel/Developer/.rvm/gems/ruby-1.8.7-p248/gems/haml-3.0.24/vendor/fssm/lib/fssm/state/directory.rb:16:in `refresh'
/Users/joel/Developer/.rvm/gems/ruby-1.8.7-p248/gems/haml-3.0.24/vendor/fssm/lib/fssm/backends/polling.rb:17:in `run'
/Users/joel/Developer/.rvm/gems/ruby-1.8.7-p248/gems/haml-3.0.24/vendor/fssm/lib/fssm/backends/polling.rb:17:in `each'
/Users/joel/Developer/.rvm/gems/ruby-1.8.7-p248/gems/haml-3.0.24/vendor/fssm/lib/fssm/backends/polling.rb:17:in `run'
/Users/joel/Developer/.rvm/gems/ruby-1.8.7-p248/gems/haml-3.0.24/vendor/fssm/lib/fssm/backends/polling.rb:15:in `loop'
/Users/joel/Developer/.rvm/gems/ruby-1.8.7-p248/gems/haml-3.0.24/vendor/fssm/lib/fssm/backends/polling.rb:15:in `run'
/Users/joel/Developer/.rvm/gems/ruby-1.8.7-p248/gems/haml-3.0.24/vendor/fssm/lib/fssm/monitor.rb:24:in `run'
/Users/joel/Developer/.rvm/gems/ruby-1.8.7-p248/gems/haml-3.0.24/vendor/fssm/lib/fssm.rb:17:in `monitor'
/Users/joel/Developer/.rvm/gems/ruby-1.8.7-p248/gems/haml-3.0.24/bin/../lib/sass/plugin.rb:164:in `watch'
/Users/joel/Developer/.rvm/gems/ruby-1.8.7-p248/gems/haml-3.0.24/bin/../lib/haml/exec.rb:457:in `watch_or_update'
/Users/joel/Developer/.rvm/gems/ruby-1.8.7-p248/gems/haml-3.0.24/bin/../lib/haml/exec.rb:360:in `process_result'
/Users/joel/Developer/.rvm/gems/ruby-1.8.7-p248/gems/haml-3.0.24/bin/../lib/haml/exec.rb:41:in `parse'
/Users/joel/Developer/.rvm/gems/ruby-1.8.7-p248/gems/haml-3.0.24/bin/../lib/haml/exec.rb:21:in `parse!'
/Users/joel/Developer/.rvm/gems/ruby-1.8.7-p248/gems/haml-3.0.24/bin/sass:8
/Users/joel/Developer/.rvm/gems/ruby-1.8.7-p248/bin/sass:19:in `load'
/Users/joel/Developer/.rvm/gems/ruby-1.8.7-p248/bin/sass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'text-shadow'.\A         on line 17 of sass/partials/_base.sass, in `text-shadow'\A         from line 17 of sass/partials/_base.sass\A         from line 13 of /Users/joel/Sites/thredded3/docs/public/stylesheets/sass/screen.sass\A \A 12: @import partials/clearfix.sass\A 13: @import partials/base.sass\A 14: @import partials/layout.sass\A 15: @import partials/header.sass\A 16: @import partials/footer.sass\A 17: @import partials/users.sass\A 18: @import partials/thredded_common.sass\A 19: @import partials/topics_index.sass"; }
