<div class="topic_nav">
  <ul>
    <li class="topic_list"><%= link_to 'topics', messageboard_topics_path %></li>
    <li class="private_topic_list"><%= link_to 'private topics', messageboard_private_topics_path %></li>
    <%= render partial: 'search/form' %>
  </ul>
</div>
