#topics_posts {

  #content article {
    padding: 15px 0 0;
    margin-bottom: 10px;
    border-top: solid 2px #eee;
    clear: both;
    overflow: hidden;

    &:last {
      border: none;
    }
    
    header {
      float: left;
      text-align: left;
      background: #eee;
      padding: 10px;
      overflow: hidden;
      margin-right: 15px; 
      margin-top: -15px;
      width: 120px;
      
      a {
        color: #999;
        text-decoration: none;
        margin-bottom: 10px;
        display: block;
        
        img {
          display: block;
          width: 48px;
          height: auto;
          border: solid 4px #fff;
          margin-bottom: 5px;
          margin-left: -4px;
        }
        
      }
       
      
      abbr {
        display: block; clear: both;
        font-size: 11px;  
        margin-bottom: 10px; 
        border: none;
      }
    }
  }
}
