
#topics_listing #contentwrap section#content {

  .title, 
  .started, 
  .updated, 
  .posts { background: #444; color:#fff; float: left; display: block; width: 15.5%; line-height: 24px; overflow: hidden; }
  .title { width: 52.5%; padding-left:1%; }

  article {
    clear: both;
    position: relative;
    height: 40px;
    padding: 10px 0;

    h1 { 
      width: 48%; 
      a {
        font-weight: normal;
        font-size: 14px;
      }
    }

    cite, time, abbr {
      position: absolute;
      left: 53.5%;
      top: 10px; 

      a { font-size: 12px; }
      &.updated_by, &.updated_at { left: 69%; }
    }
    time, abbr {
      font-size: 10px;
      top: 31px;
      width: 13%;
      border: none;
    }

    .post_count {
      left:84.5%;
      position:absolute;
      top:10px;
    }
  }
}
