<% if can? :read, messageboard %>
  <% messageboard = MessageboardDecorator.new(messageboard) %>

  <div class="messageboard">
    <header>
      <h2>
        <%= link_to messageboard.title,
          messageboard_topics_path(messageboard.name) %>
      </h2>

      <div class="meta">
        <%= messageboard.meta %>
      </div>
    </header>

    <footer>
      <p>
        <%= messageboard.updated_at_timeago %>
        <cite>by <%= messageboard.latest_user %></cite>
      </p>
    </footer>
  </div>
<% end %>
