<% content_for :page_id do %>session_mgmt<% end %>
<% content_for :page_title do %><%= site.title %> | Log In<% end %>

<header>
  <nav>
    <ul class="breadcrumbs">
      <li><span>Log In</span></li>
    </ul>
  </nav>
</header>

<div class="forms">
  <%= render partial: 'form', locals: { resource: resource, resource_name: resource_name } %>
</div>
