#content > footer {
  nav {
    margin-top: 16px;

    &.pagination {
      margin: 0 30px;

      .current, .gap, a {
        display: inline-block;
        font-size: 12px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        text-decoration: none;
        width: 40px;
      }
    }
  }
}
