.forms {
  margin: 10px 20px;
}

.field_with_errors {
  display: inline-block;
  color: red;
}

/* Kube Forms */

.forms label {
  display: block;
  margin-bottom: 2px;
  font-size: .8em;
}
.descr {
  color: #999999;
  font-size: 0.85em;
  line-height: 1.5em;
}
div.descr {
  margin: 4px 0;
}
.columnar div.descr {
  margin-bottom: 10px;
}
.forms ul {
  list-style: none;
  margin: 0;
}
.forms ul li {
  margin-bottom: 10px;
}
.forms.columnar ul li {
  margin-bottom: 15px;
}
/* liner fieldset */
fieldset.liner {
  border: none;
  padding: 0;
}
fieldset.liner legend {
  padding: 0;
  width: 100%;
  padding-bottom: 12px;
}
fieldset.liner legend span {
  padding: 0;
  padding-bottom: 8px;
  border-bottom: 1px solid #eee;
  display: block;
}
/* multicolumn */
.forms ul.multicolumn:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.forms ul.multicolumn li {
  float: left;
  margin-right: 12px;
  margin-bottom: 0;
  line-height: 1.8em;
}
.forms ul.multicolumn li label {
  margin-bottom: 0;
}
.forms ul.multicolumn li.width-50 {
  width: 48%;
  margin-right: 2%;
}
.forms ul.multicolumn li.width-33 {
  width: 31%;
  margin-right: 2%;
}
/* columnar */
.forms.columnar legend {
  margin-bottom: 1em;
}
.forms.columnar label {
  float: left;
  width: 150px;
  text-align: right;
  margin-right: 20px;
}
.forms.columnar .push,
.forms.columnar div.descr {
  margin-left: 170px;
}
.forms.columnar li fieldset label {
  float: none;
  width: auto;
  text-align: left;
  margin-right: 0;
}
.forms.columnar li fieldset {
  border: none;
  padding: 0;
  margin: 0;
  padding-left: 170px;
  position: relative;
}
.forms.columnar li fieldset section {
  padding: 0;
  position: absolute;
  width: 150px;
  text-align: right;
  left: 0;
  top: 0;
}
.forms.columnar li fieldset section label {
  float: none;
  width: auto;
  margin-right: 0;
  text-align: right;
}
.forms.columnar li fieldset div.descr {
  margin-left: 0;
}
/* section */
.forms li.form-section {
  font-weight: bold;
  border-bottom: 1px solid #eee;
  padding: 1.5em 0 .7em 0;
  font-size: 1.1em;
  margin-bottom: 1.5em;
}
.columnar li.form-section {
  padding-left: 170px;
}
/* tableforms */
table.tableforms td {
  font-size: 90%;
  padding: 1px 10px 3px 0 !important;
  border: none;
}
table.tableforms tr.labels td {
  padding-top: .8em !important;
  font-weight: bold;
}
input[type="radio"],
input[type="checkbox"] {
  position: relative;
  top: -1px;
}
input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  position: relative;
  z-index: 2;
  font-family: Helvetica, Arial, Tahoma, sans-serif;
  height: 23px;
  border: 1px solid #ccc;
  margin: 0;
  padding: 1px 2px;
  background-color: white;
  color: #333;
  font-size: 13px;
  line-height: 1;
  border-radius: 1px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
  -webkit-transition: border 0.3s ease-in;
  -moz-transition: border 0.3s ease-in;
  -ms-transition: border 0.3s ease-in;
  -o-transition: border 0.3s ease-in;
  transition: border 0.3s ease-in;
}
textarea {
  line-height: 1.4em;
}
/* Errors and Success */
.error,
.success {
  margin-left: 5px;
  font-weight: normal;
  font-size: 0.85em;
}
input.input-error,
textarea.input-error,
select.input-error,
.input-error {
  border-color: #da3e5a;
  box-shadow: 0 0 0 2px rgba(218, 62, 90, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2) inset;
}
input.input-success,
textarea.input-success,
select.input-success,
.input-success {
  border-color: #18a011 ;
  box-shadow: 0 0 0 2px rgba(24, 160, 17, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2) inset;
}
input.input-gray,
textarea.input-gray,
select.input-gray,
.input-gray {
  border-color: #ccc;
  box-shadow: 0 0 0 2px rgba(204, 204, 204, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2) inset;
}
input:focus,
textarea:focus {
  outline: none;
  border-color: #5ca9e4;
  box-shadow: 0 0 0 2px rgba(70, 161, 231, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2) inset;
}
input.input-search {
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 0;
  border-radius: 15px;
}
.input-append,
.input-prepend {
  display: inline-block;
  background-color: #eee;
  height: 23px;
  border: 1px solid #ccc;
  margin: 0;
  padding: 1px 8px;
  color: #333;
  font-size: 14px;
  line-height: 23px;
}
.input-prepend {
  margin-right: -1px;
}
.input-append {
  position: relative;
  z-index: 1;
  margin-left: -1px;
}
.btn {
  position: relative;
  cursor: pointer;
  outline: none;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1;
  font-size: 13px;
  font-weight: normal;
  padding: 10px 16px;
  border-radius: 4px;
  background-color: #f3f3f3;
  background-image: -moz-linear-gradient(top, #ffffff, #e1e1e1);
  background-image: -ms-linear-gradient(top, #ffffff, #e1e1e1);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e1e1e1));
  background-image: -webkit-linear-gradient(top, #ffffff, #e1e1e1);
  background-image: -o-linear-gradient(top, #ffffff, #e1e1e1);
  background-image: linear-gradient(top, #ffffff, #e1e1e1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e1e1e1', GradientType=0);
  border: 1px solid #dadada;
  border-left: 1px solid #d2d2d2;
  border-right: 1px solid #d2d2d2;
  border-bottom-color: #a9a9a9;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), inset 0 1px 1px 0 rgba(255, 255, 255, 0.6);
  text-shadow: 0 1px 0px #ffffff;
}
.btn {
  color: #000;
}
.btn:focus {
  filter: none;
  background: none;
  background: #eee;
  text-shadow: 0 1px 0px rgba(255, 255, 255, 0.8);
  text-decoration: none;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
}
/* Active  */
.btn-big.btn-active {
  padding: 11px 25px;
}
.btn-active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4) inset;
  color: #555;
  border: none;
  background: none;
  filter: none;
  background-color: #ddd;
  text-shadow: 0 1px 0px rgba(255, 255, 255, 0.8);
  padding: 7px 17px 8px 17px;
}
/* Small */
.btn-small {
  padding: 4px 12px;
  font-size: 11px;
}
.btn-small.btn-active {
  padding: 5px 12px;
}
/* Big */
.btn-big {
  padding: 10px 24px;
  font-size: 20px;
}
/* Square */
.btn-square {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/* Round */
.btn-round {
  border-radius: 15px;
  border-radius: 0 \0;
  /* ie9 hack */
}
/* Full */
.btn-full {
  width: 100%;
}
/* Group  */
.btn-group {
  display: inline-block;
  margin-right: 2px;
  vertical-align: bottom;
}
.btn-group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.btn-group > .btn,
.btn-group > input {
  float: left;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  margin-left: -1px;
}
.btn-group > .btn:first-child {
  border-radius: 4px 0 0 4px;
}
.btn-group > .btn:last-child {
  border-radius: 0 4px 4px 0;
}
.btn-group > .btn.btn-round:first-child,
.btn-group > .input-search:first-child {
  border-radius: 15px 0 0 15px;
}
.btn-group > .btn.btn-round:last-child,
.btn-group > .input-search:last-child {
  border-radius: 0 15px 15px 0;
}
/* Append  */
.btn-append {
  margin-left: -2px;
  border-radius: 0 4px 4px 0;
}
/* Disabled  */
.btn.disabled,
.btn[disabled] {
  border: none;
  filter: none;
  background: none;
  background-color: #e9e9e9;
  opacity: 0.6;
  cursor: default;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);
}
/* FF fix */
@-moz-document url-prefix("http://") {
  input[type=submit].btn::-moz-focus-inner,
  button.btn::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

/* ========================================================================== */

.attachment {
  background: #eeeeee;
  margin-bottom: 4px;
  padding: 8px !important;
  overflow: hidden;
}

.remove_attachment {
  font-size: 11px;
  float: right;
}

.add_attachment {
  float: right;
  margin: 0 10px 0px 0px;
  font-size: .9em;
  text-decoration: none;
  text-transform: lowercase;
}

.topic_form,
#new_post,
#new_topic {
  .title label { display: none; }
  .content label { display: none; }

  .title input {
    box-sizing: border-box;
    line-height: 3em;
    height: 3em;
    padding: 0 10px;
  }

  textarea,
  .title input,
  .chzn-container,
  .chzn-container[style] { width: 100% !important; }

  .chzn-choices { padding: 5px; }

  textarea {
    box-sizing: border-box;
    height: 90px;
    padding: 10px;
  }

  .submit input {
    @extend .btn;
    @extend .btn-square;
    margin-top: 10px;

    @include respond-to(lts){
      width: 100%;
      letter-spacing: 1px;
      text-transform: lowercase;
    }
  }
}

#new_user {
  .submit input {
    display: inline-block;
    @extend .btn;
    @extend .btn-square;
  }

  #content & p.shared_links {
    display: inline-block;

    a {
      font-size: .8em;
      text-decoration: none;
      @include before-bullet;
    }
  }
}
