#contentwrap header[role="banner"] {

  float: right; 
  width: 25%;

  h1, h2 { }
  h1 { font-size: 22px; font-weight: bold;   text-transform: uppercase; margin-bottom: 15px;  }
  h2 { font-size: 12px; font-weight: normal; text-transform: lowercase; letter-spacing: 1px; margin-bottom: 20px; }
}

