#contentwrap header[role="banner"] {

  float: right; 
  width: 25%;

  h1, h2 { }
  h1 { font-size: 22px; font-weight: bold;   text-transform: uppercase; margin-bottom: 15px;  }
  h2 { font-size: 12px; font-weight: normal; text-transform: lowercase; letter-spacing: 1px; margin-bottom: 20px; }

  .new_topic, .reply_to_topic, .edit_topic {
    margin-bottom: 10px;

    a {
      text-decoration: none;
      text-transform: lowercase;

      &:hover {
        border-bottom: dotted 1px;
      }
    }
  }

  .online {
    margin-top: 20px;

    ul { 
      list-style: none; 
      text-transform: lowercase;
      margin: 10px 0 0 0;
    }
    li {
      padding: 0;
      font-size: 12px;
      margin-bottom: 8px;
    }
  }
}

