#contentwrap header[role="banner"] {

  float: right;
  padding-top: 23px;
  width: 25%;

  .new_topic, .new_private_topic, .reply_to_topic, .edit_topic,  {
    margin-bottom: 10px;

    a {
      text-decoration: none;
      text-transform: lowercase;

      &:hover {
        border-bottom: dotted 1px;
      }
    }
  }

  .online, .category_list {
    margin-top: 20px;

    ul {
      list-style: none;
      text-transform: lowercase;
      margin: 10px 0 0 0;
    }
    li {
      padding: 0;
      font-size: 12px;
      margin-bottom: 8px;
    }
  }
}

