body {
  background: #bbb;
}

section#contentwrap {
  margin: 1em 2.5%;
  width: 95%;

  @include respond-to(xs) {
    margin: 0;
    width: 100%;
  }

  @include respond-to(s) {
    margin: 0;
    width: 100%;
  }

  section#content {
    @include respond-to(xs) { border: none; }
    @include respond-to(s) { border: none; }
  }
}
