body#messageboard_listing {
  section#content {
    overflow: hidden;
    background: #fff;
  }
}

section#contentwrap #messageboards {
  border-top: solid 3px #AAA;
  margin: 0 20px 20px 20px;

  @include respond-to(xs) {
    border: none;
    margin: 0;
  }

  > .messageboard {
    border: solid 1px #ddd;
    border-top: none;
    clear: both;
    display: block;
    padding: 1% 1% 1% 1%;
    position: relative;

    @include respond-to(xs) {
      border: none;
      padding: 10px;
    }

    &.active {
      background: #e8f3f9;
    }

    header {
      background: transparent url(/images/thread_sprite.gif) 6px -89px no-repeat;
      box-sizing: border-box;
      font-size: 12px;
      padding-left: 30px;

      h2 { font-size: 14px; font-weight: normal; margin-bottom: 4px; }
      h2 a { text-decoration: none; font-weight: bold; }
      h2 a:hover { text-decoration: underline; }

      @include respond-to(xs) {
        background: none;
        padding: 0;

        h2 {
          padding: 0;
          margin: 0;

          a {
            line-height: 44px;
            height: 44px;
          }
        }

        .meta {
          display: none;
        }
      }

      @include respond-to(s) {
        background: none;
        padding-left: 8px;
      }
    }

    &.private header {
      background-position: 6px -57px;
    }

    p { font-size: 12px; margin-top: 6px; }

    footer {
      position: absolute;
      right: 0px;
      bottom: 0px;
      left: 70%;
      top: 0px;
      padding: 1% 2%;
      background: #eee;

      p {
        margin-top: 4px;
      }

      a {
        color: #333;
        font-size: 12px;
        text-decoration: none;
      }

      cite {
        display: block;
        clear: both;
      }

      @include respond-to(xs) {
        background: none;
        clear: both;
        position: static;
        padding: 0;

        p {
          padding: 0;
          margin: 0;

          &:before {
            content: 'last posted ';
          }
        }

        cite {
          display: inline;
          clear: none;
        }
      }
      @include respond-to(s) {
        abbr { display: none; }
        p:before {
          content: 'last post ';
        }
      }
    }
  }
}

#messageboard_listing #content > footer {
  border: solid 1px #ddd;
  border-top: none;
  padding: 1%;

  a { font-weight: bold; text-decoration: none; }
  a:hover { text-decoration: underline; }
}
