.attachment {
  background: #eeeeee;
  margin-bottom: 4px;
  padding: 8px !important;
  overflow: hidden;
}
.remove_attachment {
  font-size: 11px;
  float: right;
}

.add_attachment {
  float: right;
  margin: 10px 10px 0px 20px;
}
.submit_button {
  background-color: #21C831;
  border: none;
  border-right: solid 3px #888;
  border-bottom: solid 3px #888;
  color: white;
  font-size: 13px;
  font-weight: bold;
  line-height: 18px;
  padding: 7px 12px;
  text-transform: lowercase;
  letter-spacing: 2px;
  text-shadow: 1px 1px 2px gray;
}
.content_input {
  background: #f3f3f3;
  border: none;
  border-right: solid 3px #999;
  border-bottom: solid 3px #999;
  color: #333;
  font-size: 18px; 
  line-height: 26px; 
  padding: 6px; 
}

.topic_form {
  label { display: block; clear: both; font-size: 12px; text-transform: lowercase; margin: 10px 0 4px 0; color: #888; font-size: 12px;  }
  label[for="topic_title"] { display: none; }

  textarea { 
    @extend .content_input;
    width: 98%;
  }

  p.private_users {
    margin-top: 15px;

    #topic_user_id {
      width: 100%;
    }
    .chzn-container-multi .chzn-choices {
      @include border-radius(3px); 
    }
  }

  p.title input { 
    background: #f3f3f3;
    border: none;
    border-right: solid 3px #999;
    border-bottom: solid 3px #999;
    color: #333;
    font-size: 26px; 
    line-height: 24px;
    padding: 10px 6px 6px;
    width: 98%;
  }

  p.submit input {
    @extend .submit_button;
    margin-top: 10px;
  }

  #topic_posts_attributes_0_filter {
    float: right;
    margin-top: 10px;
  }

  
  #drawer {

    #attributes { 
      background: #999;
      border-right: solid 3px #eee;
      border-bottom: solid 3px #eee;
      display: none; 
      margin-top: -2px;
      padding: 9px 7px 7px 7px;
      width: 98%;

      p { padding-bottom: 10px; margin-bottom: 10px; border-bottom: dotted 1px #c0c0c0; }
      p:last-child { padding-bottom: 0px; border: none; }

      label {
        margin: 0;
        display: block;
        float: left;
        width: 18%;
        line-height: 24px;
        color: #fff;
        @include text-shadow(#111 1px 1px 0px);
        
        span { font-size: 10px; }
      }

      input[type="text"] {
        width: 81%;
      }
    }
    
    .handle a {
        background: #999;
        border-right: solid 3px #eee;
        border-bottom: solid 3px #eee;
        font-size: 11px;
        margin-left: 10px;
        margin-top: -3px;
        padding: 4px 12px 6px;
        display: block;
        width: 28px;
        color: #fff;
        text-decoration: none;
        outline: none;
        @include text-shadow(#111 1px 1px 1px)
    }
  }
}
