#topics_posts {

  article {
    padding: 15px 0 5px 155px;
    margin-bottom: 10px;
    min-height: 90px;
    border-top: solid 2px #eee;
    clear: both;
    overflow: hidden;
    position: relative;

    &:last {
      border: none;
    }

    header {
      float: left;
      text-align: left;
      background: #eee;
      font-size: 11px;  
      padding: 10px;
      overflow: hidden;
      width: 120px;
      position: absolute;
      top: 0px;
      left: 0px;
      bottom: 0px;

      abbr {
        display: block; clear: both;
        margin-bottom: 7px; 
        border: none;
      }
      img {
        display: block;
        float: left;
        width: 32px;
        height: auto;
        border: solid 2px #fff;
        margin-right: 8px;
      }
      a {
        color: #999;
        text-decoration: none;
        margin-bottom: 3px;
        display: block;
        font-weight: bold;
        font-size: 13px;
        font-style: normal;
        color: #0d75b6;
      }
      .meta { display: block; overflow: auto; }
      .roles { display: block; margin-bottom: 3px; }
      .posts_count { display: block; margin-bottom: 3px; }
      
    }

    footer {
      font-size: 12px;
      position: absolute;
      bottom: 0px;
      right: 0px;
      padding: 4px;
      opacity: 0;
      @include transition(opacity .4s linear);
    }
    &:hover footer {
      opacity: 1;
    }

    p {
      font-size: .9em;
      line-height: 1.3em;
    }

    .attachments {
      list-style: none;
      padding: 45px 0 0 0;
      margin: 0px;

      li {
        padding: 0px;
        margin: 0px;
      }

      a {
        font-size: 11px;
        text-decoration: none;
        height: 22px;
        line-height: 22px;
        display: inline-block;
        
        &[data-type="text/plain"]      { padding-left: 20px; background: transparent url(/images/file-types/txt.png) left center no-repeat; }
        &[data-type="application/pdf"] { padding-left: 20px; background: transparent url(/images/file-types/pdf.png) left center no-repeat; }
        &[data-type^="image"]          { padding-left: 20px; background: transparent url(/images/file-types/img.png) left center no-repeat; }
        &[data-type*="zip"]            { padding-left: 20px; background: transparent url(/images/file-types/zip.png) left center no-repeat; }
      }
    }
  }

  #new_post {
    p {
      border-top: solid 2px #EEE;
      padding-top: 16px;
    }
    label {
      display: none;
    }
    textarea {
      @extend .content_input;
      clear: both;
      width: 98%;
      margin-bottom: 10px;
    }
    select {
      float: right;
      margin-top: 9px;
    }
    input[type="submit"] {
      @extend .submit_button;
    }
  }
}

#topics_posts article {
  h1, h2, h3, h4, p, pre, blockquote, .CodeRay { margin-bottom: 15px; }
  h1 { font-size: 2em; }
  h2 { font-size: 1.8em; }
  h3 { font-size: 1.6em; }
  h4 { font-size: 1.3em; }
  ul, ol { 
    margin: 0 0 15px 18px;
    font-size: 13px;
    li {
      font-size: 15px;
    }
  }
  li p, li pre { margin-bottom: 15px; }
  li p:last-child, li pre:last-child { margin-bottom: 0px; }
  li { margin-bottom: 15px; }
  pre { 
    padding: 0px; 
    white-space: pre;
  }
  .CodeRay pre {
    word-wrap: normal;
    margin: 0;
  }
  blockquote {
    border:1px solid #cda;
    border-left:3px solid #9a7;
    background: #efefef;
    padding:10px 16px;
    margin-left:0;
    > *:last-child {
      margin-bottom: 0px;
    }
  }
}
