#topics_posts {

  article {
    @include box-shadow(1px 1px 1px gray);
    background: #f6f7f8;
    font-size: .8em;
    margin: 10px 20px;
    padding: 10px 15px;

    header {
      line-height: 1.6em;
      height: 41px;

      .avatar {
        width: 42px;
        height: 42px;
        border-radius: 5px;
        float: left;
        margin-right: 15px;
        @include box-shadow(1px 1px 1px gray);
      }

      cite {
        font-style: normal;
        @include after-bullet;

        a {
          text-decoration: none;
          text-transform: capitalize;
        }
      }

      span.roles {
        @include after-bullet;

        @include respond-to(xs) {
          display: none;
        }
      }

      abbr {
        display: block;
        border-bottom: none;
      }

      .meta {
        display: inline;
        color: gray;
      }
    }

    div.content {
      padding-top: 10px;
      margin-left: 57px;
      overflow: auto;
      clear: both;

      @include respond-to(lts){
        font-size: .9em !important;
        margin-left: 0px;
        padding-top: 15px;
        padding-bottom: 5px;
      }
    }

    footer {
      margin-left: 57px;
      font-size: .8em;

      @include respond-to(lts){
        margin-left: 0px;
      }

      a {
        text-decoration: none;

        &:hover {
          border-bottom: dotted 1px;
        }
      }
    }

    .attachments {
      list-style: none;
      padding: 45px 0 0 0;
      margin: 0px;

      li {
        padding: 0px;
        margin: 0px;
      }

      a {
        font-size: 11px;
        text-decoration: none;
        height: 22px;
        line-height: 22px;
        display: inline-block;

        &[data-type="text/plain"]      { padding-left: 20px; background: transparent url(/images/file-types/txt.png) left center no-repeat; }
        &[data-type="application/pdf"] { padding-left: 20px; background: transparent url(/images/file-types/pdf.png) left center no-repeat; }
        &[data-type^="image"]          { padding-left: 20px; background: transparent url(/images/file-types/img.png) left center no-repeat; }
        &[data-type*="zip"]            { padding-left: 20px; background: transparent url(/images/file-types/zip.png) left center no-repeat; }
      }
    }
  }

  #new_post {
    p {
    }
    label {
      display: none;
    }
    textarea {
      @extend .content_input;
    }
    select {
    }
    input[type="submit"] {
      @extend .submit_button;
    }
  }
}

#topics_posts article {
  h1, h2, h3, h4, p, pre, ul, blockquote, .CodeRay {
    margin-bottom: 15px;

    &:empty { display: none; }
  }
  h1 { font-size: 2em; }
  h2 { font-size: 1.8em; }
  h3 { font-size: 1.6em; }
  h4 { font-size: 1.3em; }
  img { max-width: 100%; }
  p { line-height: 1.6em; }

  .align_left {
    margin: 0 10px 10px 0;
    float: left;
  }

  .align_right {
    margin: 0 0 10px 10px;
    float: right;
  }

  ul, ol {
    li { font-size: 15px; }
  }

  li p,
  li pre {

  }

  li p:last-child,
  li pre:last-child {
    margin-bottom: 0px;
  }

  li { }

  pre {
    padding: 0px;
    white-space: pre;
  }

  .CodeRay pre {
    word-wrap: normal;
    margin: 0;
  }

  blockquote {
    @include box-shadow(1px 1px 1px gray);
    background: rgba(255, 255, 255, 0.8);
    padding:10px 16px;
    margin-left:0;

    > *:last-child {
      margin-bottom: 0px;
    }

    blockquote {
      margin-bottom: 0px;
    }

    &.spoiler {
      color: #efefef;

      &:before {
        display: block;
        color: #989898;
        content: '** spoiler! **';
        font-size: 10px;
        text-transform: uppercase;
        letter-spacing: 5px;
      }

      &::selection, &::-moz-selection {
        color: black;
      }
    }
  }
}
