.actions .search_form {
  float: right;
  padding: 0;
  width: 47%;

  #q {
    margin-top: 6px;
    width: 100%;
  }

  [type="submit"] { display: none; }

  @include respond-to(m) { width: 40%; }

  @include respond-to(lts) {
    width: 33%;

    #q { display: none; }
    #q.toggle {
      display: block;
      position: absolute;
      left: 20px;
      width: 88%;
      top: 80px;
    }
  }
}
