.search_form {
  display: inline-block;
  padding: 0;

  form {
    display: inline;
  }

  #q {
    height: 32px;
    width: 100%;
    padding: 10px 0;
    -webkit-appearance: none;
    -webkit-box-shadow: none;
    border: none;
    font-size: 12px;
    font-style: italic;
  }

  [type="submit"] { display: none; }

  @include respond-to(m) { }

  @include respond-to(lts) {
    #q { display: none; }

    #q.toggle {
      border-bottom: dotted 1px silver;
      border-radius: 0px;
      display: block;
      position: absolute;
      left: 20px;
      width: 88%;
      top: 57px;
    }
  }
}
