$setup-container-width: 900px;
$sans-font-stack: 'Helvetica Neue', Helvetica, Arial, sans-serif;

body#settings {
  background: url('/images/background-tile.jpg') repeat;

  h1 {
    width: $setup-container-width;
    margin: 0 auto;
    background: none !important;
    font-family: $sans-font-stack;
    font-size: 25px !important;
    padding: 10px 0;
  }

}

#setup-container {
  width: $setup-container-width;
  border-radius: 7px;
  margin: 0 auto;
  background: #f6f4f4;
  padding: 15px;

  color: #646363;
  font-weight: 200;
  font-size: 18px;
  font-family: $sans-font-stack;

  p.setup-overview-text {
    margin: 0 0 20px 0;
    font-size: 15px;
    line-height: 20px;
  }

  dl {
   width: 100%;
   overflow: hidden;
  }

  dt {
   float: left;
   width: 35%;
  }

  dd {
   float: left;
   width: 65%;
   padding-bottom: 10px;

     input {
      box-shadow: 0 0 0 !important;
      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      width: 350px;
      padding: 3px 8px;
      color: #838383;
      margin-right: 10px;
    }
  }

  select {
    font-size: 15px;
    padding: 3px;
  }

  .setup-continue-btn {
    margin-top: 20px;
  }

  p.setup-explanation-text {
    font-size: 12px;
    line-height: 15px;
    padding: 3px 0 15px 0;
  }

}

.error {
    background-color: #ffb6c1 !important;
    border: 1px solid #b0171f !important;
    color: #b0171f;
    width: $setup-container-width;
    margin: 0 auto;
  }