.td {
  font-size: 11px;
  display: block;
  float: left;
}

.cell_title {
  width: 49%;
  display: block;
  float: left;
  overflow: auto;
}
.cell_posts {
  width: 6%;
  text-align: center;
  display: block;
  overflow: auto;
}
.cell_started {
  width: 22%;
  padding-left: 1%;
  display: block;
  overflow: auto;
}
.cell_updated {
  width: 22%;
  display: block;
  overflow: auto;
}

#topics_listing {

  .title,
  .started,
  .updated,
  .posts {
    @extend .table_header;
    overflow: hidden;
  }

  .title        { @extend .cell_title;   }
  .title:before { content:""; display:inline-block; width: 30px; }
  .posts        { @extend .cell_posts;   }
  .started      { @extend .cell_started; }
  .updated      { @extend .cell_updated; }

  article {
    clear: both;
    position: relative;
    overflow: hidden;
    height: 30px;

    &:nth-child(2n+1) { background-color: #F9F9F9; }
    &.private {
      background-color: #fcfcd7;
      border-left: solid 2px #aaab72;
    }

    .started_by,
    .updated_by,
    .post_count,
    h1 a { 
      padding-top: 5px;
      padding-bottom: 5px;
      @extend .td;
    }

    h1 { 
      @extend .cell_title;
      overflow: hidden;

      a {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        background: url("/images/thread_sprite.gif") no-repeat scroll 7px -87px transparent;
        display: inline-block;
        font-weight: normal;
        font-size: 14px;
        overflow: hidden;
        padding-left: 30px;
        text-decoration: none;
        text-overflow: ellipsis;
        width: 100%;
        white-space: nowrap;

        &.read {
          color: #b0b0b0;
        }
      }
    }
    &.sticky        h1  a { background-position: 7px -25px; }
    &.locked        h1  a { background-position: 7px -56px; }
    &.sticky.locked h1  a { background-position: 7px 5px; padding-left: 49px; }

    cite,
    time,
    abbr { border: none; }

    .started_by {
      @extend .cell_started;
    }
    .updated_by { 
      @extend .cell_updated;
    }
    .started_by a,
    .updated_by a {
      font-style: normal;
      font-weight: bold;
      color: #999;
      text-decoration: none;
    }

    .timeago:after {
      content: " by";
    }

    .post_count {
      @extend .cell_posts;
      background: #eee;
      height: 19px;
      overflow: hidden;
    }
  }

  footer a {
    @extend .submit_button;
    text-decoration: none;
    display: inline-block;
    margin: 12px 29px;
  }
}

#topics_edit {
  .handle {
    display: none;
  }
  #drawer #attributes {
    background: #EEE;
    border-right: solid 3px #999;
    border-bottom: solid 3px #999;
    display: block;
    padding: 9px 5px 7px 7px;
    width: 98%;
    margin-top: 7px;
  }
  #drawer #attributes label {
    color: black;
    @include text-shadow(none);
  }
  form input[type="submit"] {
    @extend .submit_button;
    margin-top: 10px;
  }
}
