.td {
  font-size: 11px;
  display: block; 
  float: left;
}

.cell_title {
  width: 49%;
  display: block;
  float: left;
  overflow: auto;
}
.cell_posts   { 
  width: 6%;
  text-align: center;
  display: block;
  overflow: auto;
}
.cell_started { 
  width: 22%;
  padding-left: 1%;
  display: block;
  overflow: auto;
}
.cell_updated { 
  width: 22%; 
  display: block;
  overflow: auto;
}

#topics_listing {

  .title, 
  .started, 
  .updated, 
  .posts { 
    @extend .table_header;
    overflow: hidden;
  }

  .title        { @extend .cell_title;   }
  .title:before { content:""; display:inline-block; width: 30px; }
  .posts        { @extend .cell_posts;   }
  .started      { @extend .cell_started; }
  .updated      { @extend .cell_updated; }

  article {
    clear: both;
    position: relative;
    overflow: hidden;
    height: 30px;

    &:nth-child(2n+1) { background-color: #F9F9F9; }
    &.private { background-color: #fcfcd7; border-bottom: solid 2px #aaab72; }

    .started_by,
    .updated_by, 
    .post_count,
    h1 a { 
      padding-top: 5px; 
      padding-bottom: 5px; 
      @extend .td;
    }

    h1 { 
      @extend .cell_title;

      a {
        background: url("/assets/thread_sprite.gif") no-repeat scroll 7px -87px transparent;
        padding-left: 30px;
        font-weight: normal;
        font-size: 14px;
        display: inline-block;
      }
    }
    &.sticky        h1  a { background-position: 10px -28px; }
    &.locked        h1  a { background-position: 10px -59px; }
    &.sticky.locked h1  a { background-position: 10px 3px; padding-left: 6%; }

    cite, 
    time, 
    abbr { border: none; }

    .started_by {
      @extend .cell_started;
    }
    .updated_by { 
      @extend .cell_updated;
    }
    .started_by a,
    .updated_by a {
      font-style: normal;
      font-weight: bold;
      color: #999;
      text-decoration: none;
    }

    .timeago:after {
      content: " by";
    }

    .post_count {
      @extend .cell_posts;
      background: #eee;
      height: 19px;
      overflow: hidden;
    }
  }

  footer a { font-size: 12px; color: #CC0000; }
  
}
