$topic-padding: 10px;

section.topics > div {
  margin: 0px 20px 10px;

  @include respond-to(lts) { margin: 0 5px 10px; }

  &.stuck article {
    @include font-icon-base(iconic, 6em);
    @extend %iconic-pin;

    &::before {
      color: white;
      position: absolute;
      right: -85px;
      top: -4px;
      z-index: 0;
    }
  }
}

#private_topics_listing,
#topics_listing {
  article {
    clear: both;
    height: 50px;
    overflow: hidden;
    padding: $topic-padding 0 $topic-padding 70px;
    position: relative;

    &:nth-child(2n+1) { background-color: #f9f9f9; }

    &.private {
      background-color: #fcfcd7;

      &:nth-child(2n+1) { background-color: #fefef0; }
    }

    a, abbr {
      position: relative;
    }

    .post_count {
      background: #eee;
      color: #3f3f3f;
      display: block;
      font-size: 15px;
      font-weight: bold;
      height: 50px;
      left: $topic-padding;
      line-height: 50px;
      overflow: hidden;
      position: absolute;
      text-align: center;
      top: $topic-padding;
      width: 50px;
      @include border-radius(5px);
    }


    h1 a {
      display: block;
      font-weight: normal;
      font-size: 15px;
      line-height: 27px;
      overflow: hidden;
      text-decoration: none;
      text-overflow: ellipsis;
      width: 100%;
      white-space: nowrap;

      &.read {
        color: #b0b0b0;
      }
    }

    cite,
    time,
    abbr { border: none; }

    .started_by,
    .updated_by {
      font-size: 12px;
      font-style: normal;

      abbr:after,
      abbr:after { content: ' by'; }
    }

    .started_by {
      &:before {
        content: 'started ';
      }

      .started_by a {
        text-decoration: none;
      }

      @include respond-to(lts) {
        display: none;
      }
    }

    .updated_by{
      &:before {
        content: 'updated ';

        @include respond-to(lts) {
          display: none;
        }
      }

      &:after {
        content: '\b7';
        width: 30px;
        display: inline-block;
        text-align: center;

        @include respond-to(lts) {
          display: none;
        }
      }
      .updated_by a {
        text-decoration: none;
      }
    }
  }

  #content footer nav ul.actions {
    padding: 5px 20px 20px;
  }
}

#topics_edit {
  #contentwrap #content {
    overflow: visible;
  }

  .handle {
    display: none;
  }

  #drawer #attributes {
    background: #EEE;
    border-right: solid 3px #999;
    border-bottom: solid 3px #999;
    display: block;
    padding: 9px 5px 7px 7px;
    width: 98%;
    margin-top: 7px;
  }

  #drawer #attributes label {
    color: black;
    @include text-shadow(none);
  }

  form input[type="submit"] {
    @extend .submit_button;
    margin-top: 10px;
  }
}
