#session_mgmt #content {
  h1 {
    color: black;
    font-weight: normal;
    text-transform: capitalize;
    font-size: 11px;
    margin-bottom: 15px;
    padding: 14px;
  }

  fieldset {
    @extend .forms;
    @extend .columnar;

    label {
      font-weight: bold;

      @include respond-to(lts) {
        clear: both;
        text-align: left;
        width: 100%;
        margin-right: 0;
      }
    }

    ul {
      list-style: none;
    }

    select,
    input[type='text'],
    input[type='password'],
    input[type='email'] {
      min-width: 310px;
    }

    em {
      font-size: 11px;

      @include respond-to(lts) {
        clear: both;
      }
    }

    .submit {
      @extend .push;

      input {
        @extend .btn;
        @extend .btn-square;
      }
    }
  }
}
