#contentwrap header[role="banner"] {

  float: right; 
  width: 28%;

  h1, h2 { }
  h1 { font-size: 20px; font-weight: bold; text-transform: uppercase; margin-bottom: 15px; }
  h2 { font-size: 14px; font-weight: normal; text-transform: lowercase; letter-spacing: 2px; margin-bottom: 20px; }
}

#contentwrap section#content {
  overflow: hidden;
  width: 64%;
  padding: 2% 2.5% 5%;
  background: #fff;
  @include box-shadow(#666, 3px, 3px, 5px);
  @include border-radius(5px);

  header {
    h1 {
      font-size: 20px; font-weight: bold; text-transform: uppercase; margin-bottom: 15px;
    }
  }
}

#topics_listing #contentwrap section#content {

  .title, 
  .started, 
  .updated, 
  .posts { background: #444; color:#fff; float: left; display: block; width: 15.5%; line-height: 24px; overflow: hidden; }
  .title { width: 52.5%; padding-left:1%; }

  article {
    clear: both;
    position: relative;
    height: 40px;
    padding: 10px 0;

    h1 { 
      width: 48%; 
      a {
        font-weight: normal;
        font-size: 14px;
      }
    }

    cite, time {
      position: absolute;
      left: 53.5%;
      top: 10px; 

      a { font-size: 12px; }
      &.updated_by, &.updated_at { left: 69%; }
    }
    time {
      font-size: 10px;
      top: 31px;
      width: 13%;

    }

    .post_count {
      left:84.5%;
      position:absolute;
      top:10px;
    }
  }
}
