@charset 'UTF-8';
@import 'compass';
@import 'font-icons';
@include font-icon-family(entypo);
@include font-icon-family(iconic);

@font-face {
  font-family: 'Socialico';
  src: url('/fonts/socialico/socialico-webfont.eot');
  src: url('/fonts/socialico/socialico-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/socialico/socialico-webfont.woff') format('woff'),
    url('/fonts/socialico/socialico-webfont.ttf') format('truetype'),
    url('/fonts/socialico/socialico-webfont.svg#socialicoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

$sans-serif-font-family: 'Lucida Grande','Trebuchet MS',Arial,Helvetica,sans-serif;
$serif-font-family: Georgia, Cambria, "Times New Roman", Times, serif;

@mixin after-bullet {
  &:after {
    content: ' \b7';
    font-size: 14px;
  }
}

@mixin before-bullet {
  &:before {
    content: '\b7   ';
    font-size: 14px;
  }
}

@import "partials/responsive";
@import "partials/boilerplate";
@import "partials/layout";
@import "partials/flash_messages";
@import "partials/site_header";
@import "partials/content_header";
@import "partials/content_footer";
@import "partials/site_footer";
@import "partials/messageboards";
@import "partials/topics";
@import "partials/posts";
@import "partials/syntax_highlighting";
@import "partials/forms";
@import "partials/setup";
@import "partials/search";
@import "partials/admin";
@import "partials/chaves";
@import "partials/user_mgmt";
@import "chosen/chosen-base";
@import "chosen/chosen-single";
@import "chosen/chosen-multi";
@import "partials/pseudo_sidebar";
