#site_wide {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #393939), color-stop(100%, #1a1a1a));
  background-image: -moz-linear-gradient(top, #393939 0%, #1a1a1a 100%);
  background-image: linear-gradient(top, #393939 0%, #1a1a1a 100%);
  border-bottom: solid 3px #999;
  height: 24px;
  padding: 12px 0 12px 2.5%;
  margin: 0;
  width: 100%;

  h1 {
    background: transparent;
    display: block;
    float: left;
    line-height: 24px;
    margin-right: 20px;

    a {
      color: white;
      text-decoration: none;
    }
  }

  ul {
    overflow: hidden;

    li {
      display: inline-block;
      font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;

      a {
        font-size: 11px;
        background-color: #535353;
        color: white;
        display: block;
        padding: 6px;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 2px;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        -ms-border-radius: 7px;
        border-radius: 7px;
        text-shadow: black 1px 1px 0;
      }
    }
  }
}
