+font-face("ChunkFive", font-files("/fonts/chunkfive/Chunkfive-webfont.woff", woff, "/fonts/chunkfive/Chunkfive-webfont.ttf", truetype, "/fonts/chunkfive/Chunkfive-webfont.svg#webfontb5K2fJwj", svg), "/fonts/chunkfive/Chunkfive-webfont.eot")
body
  text-align: center
  background: #ded8c7
  color: #393027
  font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif
  line-height: 100%
  article,aside,figure,footer,header,hgroup,nav,section
    display: block
  a
    color: #8c1a1a
    text-decoration: none
    border-bottom: dotted 1px #8c1a1a
  h1
    color: #42351e
    font-family: 'ChunkFive', arial, serif
    +text-shadow(#ffffff, -1px, -1px, 0)
    font-size: 38px
    line-height: 38px
    margin-bottom: 6px
    margin-left: 12px

p.notice, p.alert
  :font-weight bold
  :border solid 1px
  :padding 12px 16px
  :background #fff
  :font-size 12px
  :margin-bottom 12px
  +border-radius(5px)
  &:empty
    :display none
p.notice
  :color #42a81a
  :border-color #42a81a
p.alert
  :color #c51c12
  :border-color #c51c12
